{% extends './base.html.twig' %}

{% block title %}New Post
{% endblock %}
{% block stylesheets %}
	<style>
		.form-container {
			max-width: 500px;
			margin: 0 auto;
		}
	</style>
{% endblock %}


{% block body %}
	<div class="container mt-5 form-container">
		<h1 class="mb-4">Create a new Post</h1>
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="flash-{{ label }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}

		{{ form_start(form) }}
		<div class="form-group">
			{{ form_label(form.title) }}
			{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
		</div>
		<div class="form-group">
			{{ form_label(form.content) }}
			{{ form_widget(form.content, { 'attr': {'class': 'form-control'} }) }}
		</div>
		{# <button type="submit" class="btn btn-primary">{{ button_label|default('Create') }}</button> #}
		{{ form_end(form) }}
		<a href="{{ path('blog_list') }}" class="mt-3 d-block">Back to list</a>
	</div>


	{# <h1>Create a new Post</h1>
		
					{{ include('post/_form.twig') }}
		
					<a href="{{ path('blog_list') }}">back to list</a> #}


{% endblock %}
